In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [2]:
df = pd.read_csv("RawDataRound2_Sheet1.csv")
df.head()

,Mutation,Name,cucurbitadienol,L_1,L_12,L_23
0,WT,890,0,14152832,3048328,9230356
1,CSA_F113L_E286N_V351A_T352A_LC,890-T1,8015006,1677381,124711,0
2,CSA_F112L_E286A_I459T_LC,890-T2,6705038,14121996,1667221,0
3,CSA_F113L_L211F_E286A_V351A_T352A_LC,890-T3,6618913,245783,0,0
4,CSA_F112V_G114H_E286L_V351A_T352A_LC,890-T4,6953896,632471,0,0

In [3]:
timepoints = [1,12,23]

y = df[['L_{}'.format(t) for t in timepoints]]

print(type(y))

In [4]:
def regression_apply(df, timepoints, name="L", weighted=False):
    """
    :py:meth:`pandas.DataFrame.apply` apply function for calculating
    enrichment using linear regression. If *weighted* is ``True`` perform
    weighted least squares; else perform ordinary least squares.

    Weights for weighted least squares are included in *row*.

    Returns a :py:class:`pandas.Series` containing regression coefficients,
    residuals, and statistics.
    """
    # retrieve log ratios from the row
    y = df[[name+'_{}'.format(t) for t in timepoints]]
    print(y.shape,type(y),np.asarray(y),y)
    #y = [14152832 , 3048328 , 9230356]
    # re-scale the x's to fall within [0, 1]
    xvalues = [x / float(max(timepoints)) for x in timepoints]

    # perform the fit
    X = sm.add_constant(xvalues)  # fit intercept
    
    if weighted:
        W = df[['W_{}'.format(t) for t in timepoints]]
        fit = sm.WLS(y, X, weights=W).fit()
    else:
        model = sm.OLS(y.astype(float), X)
        results = model.fit()
        
    # re-format as a data frame row
    values = np.concatenate([results.params, [results.bse[0], results.tvalues[0],results.pvalues[0]], results.resid])
    index = ['intercept', 'slope', 'SE_slope', 't', 'pvalue_raw'] + ['e_{}'.format(t) for t in timepoints]
    return pd.Series(data=values, index=index)

In [5]:
newtest = df.apply(regression_apply, args=[timepoints, 'L',False], axis='columns')

(3,) <class 'pandas.core.series.Series'> [14152832 3048328 9230356] L_1     14152832
L_12     3048328
L_23     9230356
Name: 0, dtype: object
(3,) <class 'pandas.core.series.Series'> [14152832 3048328 9230356] L_1     14152832
L_12     3048328
L_23     9230356
Name: 0, dtype: object
(3,) <class 'pandas.core.series.Series'> [1677381 124711 0] L_1     1677381
L_12     124711
L_23          0
Name: 1, dtype: object
(3,) <class 'pandas.core.series.Series'> [14121996 1667221 0] L_1     14121996
L_12     1667221
L_23           0
Name: 2, dtype: object
(3,) <class 'pandas.core.series.Series'> [245783 0 0] L_1     245783
L_12         0
L_23         0
Name: 3, dtype: object
(3,) <class 'pandas.core.series.Series'> [632471 0 0] L_1     632471
L_12         0
L_23         0
Name: 4, dtype: object
(3,) <class 'pandas.core.series.Series'> [726140 0 0] L_1     726140
L_12         0
L_23         0
Name: 5, dtype: object
(3,) <class 'pandas.core.series.Series'> [3480176 0 0] L_1     3480176
L_12          0
L_23          0
Name: 6, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 0 0] L_1     0
L_12    0
L_23    0
Name: 7, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 0 0] L_1     0
L_12    0
L_23    0
Name: 8, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 225771 0] L_1          0
L_12    225771
L_23         0
Name: 9, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 26185 0] L_1         0
L_12    26185
L_23        0
Name: 10, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 66878 0] L_1         0
L_12    66878
L_23        0
Name: 11, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 39830 0] L_1         0
L_12    39830
L_23        0
Name: 12, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 31901 0] L_1         0
L_12    31901
L_23        0
Name: 13, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 16873 0] L_1         0
L_12    16873
L_23        0
Name: 14, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 23634 0] L_1         0
L_12    23634
L_23        0
Name: 15, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 65359 0] L_1         0
L_12    65359
L_23        0
Name: 16, dtype: object
(3,) <class 'pandas.core.series.Series'> [2663470 91005 0] L_1     2663470
L_12      91005
L_23          0
Name: 17, dtype: object
(3,) <class 'pandas.core.series.Series'> [33182 11371 0] L_1     33182
L_12    11371
L_23        0
Name: 18, dtype: object
(3,) <class 'pandas.core.series.Series'> [9672525 616948 0] L_1     9672525
L_12     616948
L_23          0
Name: 19, dtype: object
(3,) <class 'pandas.core.series.Series'> [308691 89890 0] L_1     308691
L_12     89890
L_23         0
Name: 20, dtype: object
(3,) <class 'pandas.core.series.Series'> [576120 78446 0] L_1     576120
L_12     78446
L_23         0
Name: 21, dtype: object
(3,) <class 'pandas.core.series.Series'> [18276157 2011041 2814925] L_1     18276157
L_12     2011041
L_23     2814925
Name: 22, dtype: object
(3,) <class 'pandas.core.series.Series'> [2614499 45230 0] L_1     2614499
L_12      45230
L_23          0
Name: 23, dtype: object
(3,) <class 'pandas.core.series.Series'> [6924901 70822 0] L_1     6924901
L_12      70822
L_23          0
Name: 24, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 0 0] L_1     0
L_12    0
L_23    0
Name: 25, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 0 0] L_1     0
L_12    0
L_23    0
Name: 26, dtype: object
(3,) <class 'pandas.core.series.Series'> [1441355 0 0] L_1     1441355
L_12          0
L_23          0
Name: 27, dtype: object
(3,) <class 'pandas.core.series.Series'> [161933 0 0] L_1     161933
L_12         0
L_23         0
Name: 28, dtype: object
(3,) <class 'pandas.core.series.Series'> [0 0 0] L_1     0
L_12    0
L_23    0
Name: 29, dtype: object

/Users/pgreisen/anaconda3/lib/python3.6/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/Users/pgreisen/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/pgreisen/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/pgreisen/anaconda3/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

#for i in df:
#    regression_apply(i, timepoints,name='L')
newtest = regression_apply(df, timepoints,name='L')

print(newtest)

In [6]:
nsample = 100
x = np.linspace(0, 10, 100)
X = np.column_stack((x, x**2))
beta = np.array([1, 0.1, 10])
e = np.random.normal(size=nsample)
X = sm.add_constant(X)

In [7]:
y = np.dot(X, beta) + e
model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 4.833e+06
Date:                Thu, 25 Apr 2019   Prob (F-statistic):          3.73e-243
Time:                        09:58:25   Log-Likelihood:                -137.32
No. Observations:                 100   AIC:                             280.6
Df Residuals:                      97   BIC:                             288.5
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.8290      0.285      2.906      0.005       0.263       1.395
x1             0.2254      0.132      1.710      0.090      -0.036       0.487
x2             9.9870      0.013    782.835      0.000       9.962      10.012
==============================================================================
Omnibus:                        0.632   Durbin-Watson:                   1.818
Prob(Omnibus):                  0.729   Jarque-Bera (JB):                0.270
Skew:                          -0.089   Prob(JB):                        0.874
Kurtosis:                       3.182   Cond. No.                         144.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.