In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy.stats import gmean
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_html("https://www.ebi.ac.uk/merops/cgi-bin/sequence_data?mid=S01.125")

In [6]:
df[0].tail()

,0,1,2,3,4,5,6,7,8
222,MER0454357,NaN,M3ZX03,XP_005808628,M3ZX03,NaN,NaN,NaN,NaN
223,MER0454357,NaN,NaN,XP_005808643,NaN,NaN,NaN,NaN,NaN
224,Xiphophorus maculatus [ALIGN VARIANTS],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,MER0454359,NaN,M3ZX03,XP_005808628,M3ZX03,NaN,NaN,NaN,NaN
226,MER0454359,NaN,NaN,XP_005808643,NaN,NaN,NaN,NaN,NaN