In [1]:
import pandas as pd
import random
random.seed(42)

In [2]:
aa_table = {
    'A' : "Ala",
    'R' : "Arg",
    'N' : "Asn",
    'D' : "Asp",
    'C' : "Cys",
    'Q' : "Gln",
    'E' : "Glu",
    'G' : "Gly",
    'H' : "His",
    'I' : "Ile",
    'L' : "Leu",
    'K' : "Lys",
    'M' : "Met",
    'F' : "Phe",
    'P' : "Pro",
    'S' : "Ser",
    'T' : "Thr",
    'W' : "Trp",
    'Y' : "Tyr",
    'V' : "Val",
    '-' : "Del"}

In [3]:
df = pd.read_csv("yeast_codon_table.tsv",delim_whitespace=True)

In [4]:
df.head()

  AmAcid Codon    Number  /1000  Fraction  ..
0    Gly   GGG   39359.0   6.02       0.0 NaN
1    Gly   GGA   71216.0  10.90       0.0 NaN
2    Gly   GGT  156109.0  23.89       0.0 NaN
3    Gly   GGC   63903.0   9.78       0.0 NaN
4    Glu   GAG  125717.0  19.24       0.0 NaN

In [5]:
counts = df.groupby(by='AmAcid')["Number"].sum()
df["Probability"] = 0.0

In [6]:
df.drop(labels=['..',"Fraction"],axis=1,inplace=True)

In [7]:
for i,j,k in zip(df.index, df["AmAcid"],df["Number"]):
    df.iloc[i,df.columns.get_loc("Probability")] = k/counts[j]

In [8]:
df = df.sort_values(by='AmAcid').reset_index()

In [9]:
df = df.drop(labels="index",axis=1)

In [10]:
aa = ""
df["range_of_prb"] = 0.0
for i,j,k in zip(df.index, df["AmAcid"], df["Probability"]):
    if(j != aa):
        prb_ = 0
        aa = j
    prb_ += k
    df.iloc[i,df.columns.get_loc("range_of_prb")] = prb_

In [11]:
df.head(4)

  AmAcid Codon    Number  /1000  Probability  range_of_prb
0    Ala   GCC   82357.0  12.60     0.224416      0.224416
1    Ala   GCT  138358.0  21.17     0.377015      0.601431
2    Ala   GCA  105910.0  16.21     0.288596      0.890028
3    Ala   GCG   40358.0   6.18     0.109972      1.000000

In [12]:
def get_codon(df, aa, nr):
    tmpdf = df[df["AmAcid"] == aa]
    for i,j in zip(tmpdf["range_of_prb"],tmpdf["Codon"]):
        if(nr <= i ):
            return j

In [13]:
# te
seq = 'ACGHFKKRRGDFHY'
new_seq = ''
for i in seq:
    test = get_codon(df, aa_table[i],random.random() )
    new_seq += test

In [19]:
seqs = {}
with open("Mohak_is_great_w_RPA.FASTA", 'r') as f:
    for line in f:
        if(line[0] == ">"):
            key=line[1:].strip()
            seqs[key] = ""
        else:
            seqs[key] += line.strip()

In [20]:
dfdna = pd.DataFrame.from_dict(seqs,orient='index').reset_index()

In [21]:
dfdna.rename(columns={'index' : "Name", 0 : 'AA_sequence'},inplace=True)

In [22]:
dfdna["DNA_sequence"] = ""
dfdna["bsaI_site"] = 0

for i,seq in zip(dfdna.index, dfdna["AA_sequence"]):
    dna_ = ""
    for aa in seq:  
        codon_ = get_codon(df, aa_table[aa],random.random() )
        dna_ += codon_
    
    dfdna.iloc[i,dfdna.columns.get_loc("DNA_sequence")] = dna_
    if("GGTCTC" in dna_ or "GAGACC" in dna_):
        dfdna.iloc[i,dfdna.columns.get_loc("bsaI_site")] = 1

In [23]:
dfdna.to_excel("20190621_yeast_MAGE.xlsx")

In [25]:
dfdna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7446 entries, 0 to 7445
Data columns (total 4 columns):
Name            7446 non-null object
AA_sequence     7446 non-null object
DNA_sequence    7446 non-null object
bsaI_site       7446 non-null int64
dtypes: int64(1), object(3)
memory usage: 232.8+ KB