In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel("2019-08-30_format_parser_input.xlsx")

In [10]:
df.head()

,Plate_Number,Ligands,PlateID,plasmidID,PlatemapID,Read 1:600,"Read 2:485,515",Conc (uM)
0,Plate 1,TCA,Q,p1902,A1,0.826,2705,6.750
1,Plate 1,TCA,Q,p1902,B1,0.892,2013,3.380
2,Plate 1,TCA,Q,p1902,C1,0.905,1898,1.690
3,Plate 1,TCA,Q,p1902,D1,0.939,1784,0.844
4,Plate 1,TCA,Q,p1902,E1,0.932,1667,0.422

In [12]:
# df.astype(float)
df['Read 2:485,515'] = pd.to_numeric(df['Read 2:485,515'],errors='coerce')

In [14]:
df.to_excel("test2.xlsx")