In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#df1 = pd.read_excel("CDA_E1036.xlsx", sheet_name=1,header=None)
df1 = pd.read_excel("CDA_E1036_mod.xlsx",header=None, sheet_name=1)
df1.dropna(how="all", inplace=True)
df1.reset_index(inplace=True,drop=True)
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Software Version,2.06.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Experiment File Path:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Protocol File Path:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Plate Number,Plate 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date,2018-10-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
metadata_index = 0
for i,j in zip(df1.index,df1[0]):
    if(j == 'Actual Temperature:'):
        metadata_index = i+1

In [4]:
# get the json information
#metadata_index=27
jsondic = {}
for i, j in zip(df1[:metadata_index][0], df1[:metadata_index][1]):
    print(i,j)
    if (i not in jsondic.keys() and not pd.isna(i)):
        key = i
        jsondic[key] = []
    jsondic[key].append(j)

Software Version 2.06.10
Experiment File Path: nan
Protocol File Path: nan
Plate Number Plate 4
Date 2018-10-31 00:00:00
Time 09:45:43
Reader Type: Synergy H1
Reader Serial Number: 1411074
Reading Type Reader
Procedure Details nan
Plate Type 96 WELL PLATE
Read Absorbance Endpoint
nan Full Plate
nan Wavelengths:  600
nan Read Speed: Normal,  Delay: 100 msec,  Measurements/Data Point: 8
Read Fluorescence Endpoint
nan Full Plate
nan Filter Set 1
nan     Excitation: 485,  Emission: 515
nan     Optics: Top,  Gain: 60
nan Light Source: Xenon Flash,  Lamp Energy: High
nan Read Speed: Normal,  Delay: 100 msec,  Measurements/Data Point: 10
nan Read Height: 7 mm
Results nan
Actual Temperature: 21.7
Actual Temperature: 21.7

In [5]:
print(jsondic)

{'Software Version': ['2.06.10'], 'Experiment File Path:': [nan], 'Protocol File Path:': [nan], 'Plate Number': ['Plate 4'], 'Date': [datetime.datetime(2018, 10, 31, 0, 0)], 'Time': [datetime.time(9, 45, 43)], 'Reader Type:': ['Synergy H1'], 'Reader Serial Number:': [1411074], 'Reading Type': ['Reader'], 'Procedure Details': [nan], 'Plate Type': ['96 WELL PLATE'], 'Read': ['Absorbance Endpoint', 'Full Plate', 'Wavelengths:  600', 'Read Speed: Normal,  Delay: 100 msec,  Measurements/Data Point: 8', 'Fluorescence Endpoint', 'Full Plate', 'Filter Set 1', '    Excitation: 485,  Emission: 515', '    Optics: Top,  Gain: 60', 'Light Source: Xenon Flash,  Lamp Energy: High', 'Read Speed: Normal,  Delay: 100 msec,  Measurements/Data Point: 10', 'Read Height: 7 mm'], 'Results': [nan], 'Actual Temperature:': [21.7, 21.7]}

In [6]:
print(metadata_index)

26